{% extends 'base.html' %}
{% block navbar %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href=" ">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="../">訂單新增</a>
            </li>
             <li class="nav-item">
              <a class="nav-link active" href="#">訂單查看</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="../product/">數據統計</a>
            </li>
{% endblock %}
{% block content%}
    <div class="container">
        <div class="carousel slide" id="carouselExampleIndicators" data-ride="carousel" >

        <div class="carousel-inner">
            {% for order in orders %}
                {% if forloop.first %}
                    <div class="carousel-item active">
                    <h5>123</h5>
                {% else %}
                     <div class="carousel-item">
                {% endif %}

                    {{ order.id }}
                   {{ order.date }}
                    {{ order.Number_of_order }}
                     {{ order.ProductA }}
                     {{ order.ProductB }}
                    {{ order.ProductC }}
            </div>
            {% endfor %}


        </div>

</div>
<script>

    $('.carousel').carousel({interval: 5000,pause: "hover"})
</script>
{% endblock %}