{% extends 'base.html' %}
{% block navbar %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href=" ">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="../">訂單新增</a>
            </li>
             <li class="nav-item">
              <a class="nav-link active" href="#">訂單查看</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="../product/">數據統計</a>
            </li>
{% endblock %}
{% block content%}
    <div class="container">
        <div class="carousel slide" id="carouselExampleIndicators" data-ride="carousel" >

        <div class="carousel-inner">
            {% for order in orders %}
                {% if forloop.first %}
                    <div class="carousel-item active">

                {% else %}
                     <div class="carousel-item">
                {% endif %}
                <div class="row r-3">

                        <div class="card" style="width: 18rem;height: 18rem">
                             <div class="card-body text-center">
                                  <h5 class="card-title">工單編號</h5>
                                 <div class="position-relative text-center">
                                        <p class="text-center" style="margin-top: 5rem;">
                                            {{ order.Number_of_order }}
                                        </p>
                                 </div>
                             </div>
                        </div>
                         <div class="card" style="width: 18rem; height: 18rem">



                            <div class="card-body text-center">
                                 <h5 class="card-title">ProductA 產品數量</h5>
                                <div class="card-text text-center" >
                                    <div class="position-relative">
                                        <span class="position-absolute top-50 start-50 translate-middle" style="margin-top: 5rem">{{ order.ProductA }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                         <div class="card" style="width: 18rem;height: 18rem ">
                            <div class="card-body text-center">
                                  <h5 class="card-title text-center">ProductB 產品數量</h5>
                                  <div class="position-relative">
                                        <span class="position-absolute top-50 start-50 translate-middle" style="margin-top: 5rem">{{ order.ProductB }}</span>
                                    </div>
                            </div>
                        </div>
                         <div class="card" style="width: 18rem;height: 18rem">
                             <div class="card-body text-center">
                                  <h5 class="card-title text-center">ProductC 產品數量</h5>
                                <div class="position-relative">
                                        <span class="position-absolute top-50 start-50 translate-middle" style="margin-top: 5rem">{{ order.ProductC }}</span>
                                    </div>
                             </div>
                        </div>
                        <div class="card" style="width: 18rem;height: 18rem">
                             <div class="card-body text-center">
                                  <h5 class="card-title text-center">訂單狀態</h5>
                                <div class="position-relative">
                                        <p class="text-center" style="margin-top: 5rem">{{ order.state }}</p>
                                    </div>
                             </div>
                        </div>

                </div>

            </div>
            {% endfor %}


        </div>

</div>
<script>

    $('.carousel').carousel({interval: 5000,pause: "hover"})
</script>
{% endblock %}